@media (min-width: 1001px) {
  .video-container {
    width: 900px;
  }
}

@media (max-width: 1000px) {
  .menu {
    width: 15vw;
  }
  .search-settings {
    .search-bar {
      form {
        input {
          width: 30vw;
        }
      }
    }
  }
  body {
    .container {
      top: 30vh;
    }
  }
}
@media (max-width: 768px) {
  .menu {
    width: 30vw;
  }
  .search-settings {
    .search-bar {
      form {
        margin-left: 20vw;
        input {
          display: none;
        }
      }
    }
    .settings-nav {
      margin-left: 0;
      margin-right: 0;
    }
  }
  body {
    .container {
      top: 25vh;
    }
  }
}
@media (max-width: 500px) {
  .menu {
    width: 45vw;
    left: -45vw;

    .menu-nav1,
    .menu-nav2 {
      margin-top: 87px;
    }
  }
  .branding {
    .fab {
      font-size: 1rem;
    }
  }
  .search-settings {
    .settings-nav {
      padding: 0;
    }
  }

  body {
    .container {
      top: 20vh;
    }
  }
}
