@media (min-width: 1001px) {
  .video-container {
    width: 900px;
  }
}

@media (max-width: 1000px) {
  .search-settings {
    .search-bar {
      form {
        input {
          width: 30vw;
        }
      }
    }
  }
  body {
    .container {
      top: 30vh;
    }
  }
}
@media (max-width: 768px) {
  .search-settings {
    .search-bar {
      form {
        justify-content: center;
        input {
          display: none;
        }
      }
    }
    .settings-nav {
      margin-left: 0;
      margin-right: 0;
    }
  }
  body {
    .container {
      top: 25vh;
    }
  }
}
@media (max-width: 500px) {
  .nav-all-container.push-content {
    margin-left: 175px;
  }
  .menu {
    left: -150px;
    width: 150px;
    .menu-nav1,
    .menu-nav2 {
      margin-top: 67px;

      .nav-item {
        font-size: 0.8rem;
      }
    }

    &-btn.close {
      left: 151px;
    }
  }
  .branding {
    .fab {
      font-size: 1rem;
    }
  }
  .search-settings {
    .settings-nav {
      padding: 0;
    }
  }

  body {
    .container {
      top: 20vh;
    }
  }
}
//iphone 6/7/8 plus
@media (min-width: 400px) and (max-width: 499px) {
  .menu {
    .menu-nav1 {
      margin-top: 66px;
    }
  }
}
