@import "config";
@import "media";

// Menu Button
.menu-btn {
  position: absolute;
  top: 15px;
  z-index: 3;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 25px;
    height: 2px;
    margin: 0 0 5px 0;
    background: set-text-color($primary-color);
    @include easeOut;
  }

  // Rotate Into X With Menu Lines
  &.close {
    transform: rotate(180deg);

    .btn-line {
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 3px);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

//Branding
.branding {
  position: absolute;
  top: 15px;
  left: 60px;
  z-index: 3;

  .fab {
    font-size: 1.2rem;
    color: red;

    #text {
      color: #000;
    }
  }
}

//Menu Overlay
.menu {
  position: absolute;
  top: 0;
  left: -30vw;
  width: 20vw;
  height: 100vh;
  background: #f5f5f5;
  @include easeIn;

  &.show {
    left: 0;
    @include easeIn;
  }

  .menu-nav1,
  .menu-nav2 {
    border-top: 1px solid #000;
    background: #f5f5f5;
    margin-top: 66px;

    .nav-item {
      margin-top: 40px;
      margin-bottom: 2vh;

      a {
        color: #000;
      }
    }
  }
  .menu-nav1 {
  }
}

// Search nav
.search-settings {
  display: flex;
  margin-left: 20vw;

  .search-bar {
    form {
      width: 100%;

      input {
        width: 45vw;
        padding: 0.3rem;
      }

      button {
        padding: 0.3rem 1rem;
        border: 1px solid #444;
        background: rgba(218, 218, 218, 0.5);
      }
    }
  }

  .settings-nav {
    margin: 5px auto 0;
    margin-bottom: 30px;
    .nav-item {
      display: inline;
      padding: 0.5rem;

      a {
        i {
          font-size: 1.23rem;
        }
      }
    }
  }
}
